:root {
  --dark-color: #2F303A;
  --light-color: #F5F4FA;
  --button-color: #2196F3;
  --text-color: #212121;
  --light-text-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--light-text-color);
}
.container{
width: 1200px;
padding: 0 15px;
margin: 0 auto;
outline: solid orange;
box-sizing: border-box;
}
.portfolio-header{
    align-items: center;
    display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-header-logo {
  font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--button-color);
}

.portfolio-nav-list {
   list-style: none;
     display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.portfolio-nav-link {
  color: var(--text-color);
  font-size: 14px;
    font-weight: 500;
}

.portfolio-header-contacts{
  text-decoration: none;
     display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}
.portfolio-contacts {
 color: var(--text-color);
  font-size: 14px;
    font-weight: 500;
}

.portfolio-header-contacts a {
  color: var(--text-color);
}

.portfolio-section {
   display: flex;
  flex-direction: column;
  align-items: center;
  padding: 94px 0;
}
.portfolio-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}

.portfolio-button {
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--light-color);
  border: none;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--button-color);
  color: var(--light-text-color);
}
.portfolio-projects {
display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0;
  list-style: none;
}
.portfolio-project{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: var(--light-text-color);
  border: 1px solid;
}

.portfolio-project-title {
   font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.portfolio-project-text {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
  color: var(--text-color);
}

.footer {
    background-color: var(--dark-color);
}
.footer-list{
    text-decoration: none;
}

.portfolio-logo {
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    color: var(--light-text-color);
    text-decoration: none;
}
.portfolio-address {
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
    color: var(--light-text-color);
}
.footer-link{
color: var(--light-text-color);
}

