:root {
    --dark-color: #2F303A;
    --light-color: #F5F4FA;
    --button-color: #2196F3;
    --text-color: #212121;
    --light-text-color: #ffffff;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    background-color: var(--light-text-color);
}
.container{
width: 1200px;
padding: 0 15px;
margin: 0 auto;
outline: solid orange;
box-sizing: border-box;
}

.header {
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--button-color);
}

.navigation-list{
    list-style: none;
}

.navigation-items {
    font-size: 14px;
    font-weight: 500;
    color: var(--button-color);
}

.navigation-link {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
}

.navigation-item {
    font-size: 14px;
    font-weight: 500;
}

.navigation-contacts {
    text-decoration: none;
}
.section-hero {
    background-color: var(--dark-color);
    color: var(--light-text-color);
     padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    margin-bottom: 94px;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
    margin-bottom: 94px;
}
.section-hero-title {
    font-size: 44px;
    font-weight: 900;
    text-align: center;
    color: var(--light-text-color);
    background-color: var(--dark-color);
}

.section-hero-button {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    background-color: var(--button-color);
    color: var(--light-text-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.section-title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-color);
}

.section-text {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--text-color);
}

.section-services {
    background-color: var(--light-text-color);
    padding-top: 94px;
    padding-bottom: 94px;
    margin-bottom: 94px;
}

.section-services-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: var(--text-color);
}

.section-team {
    background-color: var(--light-color);
     padding-top: 94px;
    padding-bottom: 94px;
    margin-bottom: 94px;
}

.section-team-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: var(--text-color);
}

.section-team-item {
    background-color: var(--light-text-color);
}

.section-team-name {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: var(--text-color);
}

.section-team-role {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: var(--button-color);
}

.footer {
    background-color: var(--dark-color);
    color: var(--light-text-color);
     padding-top: 60px;
    padding-bottom: 60px;

}
.footer-list{
    list-style: none;
}

.footer-logo {
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    color: var(--light-text-color);
    text-decoration: none;
}
.footer-text {
    font-size: 14px;
    font-weight: 400;
    color: var(--light-text-color);
}
.footer-link{
color: var(--light-text-color);
}