:root{
    --dark-color: #2F303A;
    --light-color: #F5F4FA;
    --button-color: #2196F3;
    --text-color: #212121;
    --light-text-color: #ffffff;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.2;
}
.header {
    align-items: center;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: var(--button-color);
}
.navigation {
    text-decoration: none;
    color: var(--button-color);
}
.navigation-list{
    text-decoration: none;
}
.navigation-contacts{
    text-decoration: none;
}
.navigation-items{
    color: var(--button-color);
}
.navigation-link{
    text-decoration: none;
    font-weight: 500;
    color: var(--text-color);
}
.section-hero{
      background-color: var(--dark-color);
    color: var(--light-text-color);
    text-align: center;
    padding: 100px 0;
}
.section-hero-title{
    color: var(--light-text-color);
    background-color: var(--dark-color);
    font-size: 44px;
    font-weight: 700;
    line-height: 1.2;
}

.section-hero-button {
    background-color: var(--button-color);
    color: var(--light-text-color);
    border: none;
    font-size: 16px;
}
.section {
    text-align: center;
    color: var(--text-color);
}
.section-title {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
}
.section-text {
    font-size: 14px;
    color: var(--text-color);
}
.section-services {
    text-align: center;
}
.section-services-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
}
.section-services-list {
text-align: center;
}
.section-team {
    background-color: var(--light-color);
    text-align: center;
}
.section-team-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
}
.section-team-name {
    font-size: 18px;
    font-weight: 700;
}
.section-team-role {
    font-size: 16px;
    color: var(--text-color);
}
.footer {
    background-color: var(--dark-color);
    color: var(--light-text-color);
    text-align: center;
}
.footer-list {
    list-style: none;
    padding: 0;
}
.footer-link {
    text-decoration: none;
    color: var(--light-text-color);
}